.card {
    width: 40% !important;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    height: 8rem !important;
}

.card h5 {
    margin-top: 0 !important;
    margin-left: 1rem !important;
}

.card a {
    text-decoration: none;
    color: black;
    margin-left: 1.5rem !important;
}