/* Navbar */
.navbar {
    /* position: relative; */
    z-index: 2;
    background-color: #df9355;
    box-shadow: rgba(182, 212, 241, 0.1) 0px 8px 24px;
}
.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

.nav-link {
    font-size: small;
}


.tombol {
    text-transform: uppercase;
    border-radius: 5px;
    border-color: #58a647;
    background-color: #58a647;
    font-size: small;
    border: 0px;
}

.tombol:hover {
    background-color: rgb(245, 182, 110);
    border: 0px;
}

.background  {
    background-image: url("../Landing_Page/img/jumbotron-bg.jpg");
    background-size: cover;
    height: 60vh;
    position: relative;
}

.bakcground::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.container .background-100 {
    background-color: white;
    margin-top: 40vh;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container .background-10 {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 15px 24px;
    margin-bottom: 50px;
}


.profile {
    border-radius: 100px;
    border-width: 20px;
    border-color: tomato;
    width: 200px;
    margin-top: -100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.name {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
    padding-top: 20px;
    margin-top: 35px;
}

.posisi {
    text-transform: uppercase;
    font-size: 10px;
}

.btn-just-icon {
    color: gray;
}

.btn-just-icon:hover {
    color: rgb(43, 43, 43);
}

.description p {
    color: rgb(87, 87, 87);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.detail h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 20px;

}

.dtabel table {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.profile-produk-10 {
    background-color:white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 15px 24px;
    border-radius: 5px;
}

.profile-produk-10 .harga {
    color: tomato ;
}

.profile-produk-10 p {
    font-size: 12px;
    color: gray;
    font-weight: 200;
}


@media (min-width: 992px) { 
    .description p {
        padding-left: 200px;
        padding-right: 200px;
    }
    .detail {
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 50px;
    }
    .detail h3{
        margin-bottom: -40px;
    
    }
    .navbar-brand, .nav-link {
        color: white !important;
        /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7 ); */
        
    }
    .nav-link.user h6{
        font-weight: 1000;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 20px ;
    }
    .nav-link:hover {
        font-size: 300;

    }
    .nav-link.active {
        text-transform: uppercase;
        margin-right: 20px ;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(253, 136, 1);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        

    }
}

@media (min-width: 441px) { 
    .dtabel table{
        margin-top: 10px;
    
    }
}